# <%= package.name %>
<%= package.description %>

[![npm](https://img.shields.io/npm/v/<%= package.name %>.svg?style=flat-square)](https://www.npmjs.com/package/<%= package.name %>)
[![npm](https://img.shields.io/npm/dt/<%= package.name %>.svg?style=flat-square)](https://www.npmjs.com/package/<%= package.name %>)
[![npm](https://img.shields.io/npm/dm/<%= package.name %>.svg?style=flat-square)](https://www.npmjs.com/package/<%= package.name %>)


## packages
all in one
https://www.npmjs.com/package/fis3-optimizer-imagemin

standalone
https://www.npmjs.com/browse/keyword/fis3-optimizer-imagemin

## install
```sh
$ npm i -g <%= package.name %>
```

## options
<%
if (!standalone) {
%>
```js
var config = {
  FILE_EXT: {
    PLUGIN_NAME: OPTIONS
  }
}
FILE_EXT = .png, .png8, .jpg, .jpeg, .gif, .svg ...
PLUGIN_NAME = a imagemin support plgin without prefix `image-`
OPTIONS = options for current plugin
```
<%
}
%>
### default options

notice: *this might change in future*

```json
<%= JSON.stringify(options, null, 2) %>
```
more options:
<%
if (standalone) {
%>
https://www.npmjs.com/package/imagemin-<%= plugin.name %>
<%
} else {
  _.forEach(plugins, function(plugin) {
%>
https://www.npmjs.com/package/imagemin-<%= plugin.name %>
<%
  })
}
%>

## usage

```js
// fis-conf.js

var options = {} // your options

fis.match('<%= standalone ? '*' + plugin.ext : '::image' %>', {
  optimizer: fis.plugin('imagemin<%= standalone ? '-' + plugin.name : '' %>', options)
})
```

## links
fis3: http://fis.baidu.com/

imagemin: https://github.com/imagemin/imagemin
<%
if (standalone) {
%>
imagemin-<%= plugin.name %>: https://www.npmjs.com/package/imagemin-<%= plugin.name %>
<%
} else {
%>
## pre-installed imagemin plugins
<%
  _.forEach(plugins, function(plugin) {
%>
imagemin-<%= plugin.name %>@<%= plugin.version %>: https://www.npmjs.com/package/imagemin-<%= plugin.name %>
<%
  })
}
%>
